################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BasicAirlock/MDK
/.vs/SpaceEngineers/v16
/.vs/SpaceEngineersCasino/v16/Server/sqlite3
/.vs
/BasicAirlock/obj/x64/Debug
/BasicPlanetaryDrone/MDK
/BasicPlanetaryDrone/obj/x64/Debug
/BasicPlanetaryDrone/Instructions.readme
/BasicPlanetaryDrone/thumb.png
/BasicAirlock/thumb.png
/BasicAirlock/Instructions.readme
/BoringWalker/MDK
/BoringWalker/obj/x64/Debug
/BoringWalker/Instructions.readme
/BoringWalker/thumb.png
/CasinoMachine/bin
/CasinoMachine/MDK
/CasinoMachine/obj/x64/Debug
/CasinoMachine/Instructions.readme
*.png
*.ide
*.ide-shm
*.ide-wal
*.suo
*.props
*.cache
*.force
/SpaceEngineersCasino/obj/x64/Debug
*.readme
*.zip
/SpaceEngineersCasino/MDK
